@media (min-width: 768px) {
    .container {
      width: 750px;
    }
    .landing .text {
      width: 355.51px;
      max-width: 100%;
    }
  }
  /* medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
    .landing .text {
      width: 355.51px;
      max-width: 100%;
    }
  }
  /* large */
  @media (min-width: 1200px) {
   
     .About .about-columns .image::before,
    .About .about-columns .image{margin-left:30px;}
    .container {
      width: 1170px;
    }
    .landing .text {
      width: 355.51px;
      max-width: 100%;
    }
  }
  @media (max-width: 992px) {
    .About .about-columns .image::before,
    .About .about-columns .image::after {
      display: none;
    }
    .special-heading{
      font-size:80px;
    }
    .landing .text p{
      font-size:10px;
    }
    .Services .container .services-columns .col .image{
      display:none;
  
    }
  } 
  @media (max-width: 1199px) {
    .About .about-columns .image::before,
    .About .about-columns .image::after {
      display: none;
    }
    .About .about-columns .image::before,
    .About .about-columns .image{
      margin-left:30px;
    }
  }